/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'FortniteFont', Burbank Big Condensed;
    color: white;
}

.container {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.countdown {
    position: absolute;
    top: 20px; /* Distance from the top */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    text-align: center;
    z-index: 1; /* Ensure it appears above the video */
}

h1 {
    font-size: 5rem;
}
